.icon{
    cursor: pointer;
}
.header{
    margin: 20px;
    height: 50px;
}
.pageTitle{
    font-size: xx-large;
    font-weight: 900px;
}
.logout{
    float: right;
    margin: 10px;
}
.welcomeMessage p{
    text-align: center;
    color: rgb(219, 152, 92);
}
.welcomeMessage{
    align-items: center;
    text-align: center;
}
.userInfo{
    align-items: center;
    text-align: center;
}
.userInfo span{
    color: rgb(219, 152, 92);
}
.displayPicture{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.appNavigation{
    align-items: center;
    text-align: center;
}
.appNavigation h4{
    color: rgb(219, 152, 92);
}
.appNavigation{
    line-height: 20px;
    font-size: 20px;
}
.serviceArea{
    height: 600px;
}
.messageInput{
    border-radius: 15px;
    height: 30px;
    margin: 10px;
    width: 30%;
}
.messageBar{
    align-items: center;
    text-align: center;
    position: fixed; bottom:0; left:0; right:0;
}