.title {
    float: left;
    text-align: center;
    width: 90%;
    margin-bottom: 50px;
}
.logout {
    float: right;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
img {
    border-radius: 100px;
}
.title span{
    color: rgb(219, 152, 92);
}
.textArea{
    height: 100px;
    width: 600px;
    margin-left: 600px;
    margin-right: 600px;
}
.messageBar{
    height: 40px;
    margin: 10px;
    width: 90%;
    border-radius: 10px;
    
}
.adminMessageBar{
    height: 40px;
    margin: 10px;
    width: 20%;
    border-radius: 10px;
}