.chatroom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.chatroomMessages{
     text-align: unset;
     display: flex;
     flex-direction: column;
}
.message{
    width: 350px;
}
.message span{
    color: rgb(219, 152, 92);
}
.message img{
    margin: 10px;
    margin-top:20px;
}